<?xml version="1.0"?>
<config>
    <modules>
        <Silex_Units>
            <version>1.0.0</version>
        </Silex_Units>
    </modules>
    <global>
        <helpers>
            <silex_units>
                <class>Silex_Units_Helper</class>
            </silex_units>
        </helpers>
        <models>
            <silex_units>
                <class>Silex_Units_Model</class>
            </silex_units>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <silex_units>
                    <file>silex/units.xml</file>
                </silex_units>
            </updates>
        </layout>
        <translate>
            <modules>
                <Silex_Units>
                    <files>
                        <default>Silex_Units.csv</default>
                    </files>
                </Silex_Units>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <general>
            <locale>
                <units_system>0</units_system>
            </locale>
        </general>
    </default>
</config>